<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp488</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style='background-color: teal'>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Contact', contact_path %>

      <form action="/contact" method="get">
        <input type="text" name="member" value="<%= params[:member] %>" placeholder="Who are you looking for?">
        <input type="submit">
      </form>
    </div>

    <%= yield %>
  </body>
</html>
